
@using RepositoryPatternWithUOW.Core.Models;
@model CGARMAN.ViewModel.InventoryViewModels.InventoryTablelPagingViewModel<InventoryItemStatus>
@{ int counter = 0;}

<div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-left:10px">
        <h1 class="h3 mb-0 text-gray-800">
            Inventory <i style="font-size:large" class="fa fa-arrow-right" aria-hidden="true"></i> Status
        </h1>
        <a style="margin-right:10px" href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="createInvItemStatus()">Create New Status</a>
    </div>

    <div class="card shadow mb-4" style="margin:0px 15px">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Status</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="dataTable_length">
                                <label>
                                    Show
                                    <select name="dataTable_length" id="dataTablelengthInventoryItemStatusIndex" onchange="changeTablelengthfortypestatus(this)" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                        @if (Model.Tablelength == 10)
                                        {
                                            <option value="10" selected>10</option>
                                        }
                                        else
                                        {
                                            <option value="10">10</option>
                                        }
                                        @if (Model.Tablelength == 25)
                                        {
                                            <option value="25" selected>25</option>
                                        }
                                        else
                                        {
                                            <option value="25">25</option>
                                        }
                                        @if (Model.Tablelength == 50)
                                        {
                                            <option value="50" selected>50</option>
                                        }
                                        else
                                        {
                                            <option value="50">50</option>
                                        }
                                        @if (Model.Tablelength == 100)
                                        {
                                            <option value="100" selected>100</option>
                                        }
                                        else
                                        {
                                            <option value="100">100</option>
                                        }




                                    </select>
                                    entries
                                </label>
                            </div>
                        </div>
                    <div class="col-sm-12 col-md-6">
                        @*<div id="dataTable_filter" class="dataTables_filter">
                           <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                        </div>*@
                    </div>
                    </div><div class="row">
                        <div class="col-sm-12">
                            <form asp-action="Index" asp-controller="InventoryStatus" method="post" id="frminvItemStatus">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    @*<tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Quantity</th>
                                                <th>Supplier</th>
                                                <th>Status</th>
                                                <th>Start date</th>
                                                <th>Brand</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>*@
                                    <tbody>
                                        @foreach (var item in Model.items)
                                        {
                                            counter++;
                                            <tr>
                                                <td>
                                                    @counter
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>                                               
                                                <td>
                                                    <input type="button" class="btn btn-primary" value="Edit" onclick="getspinner(); getEditItemStatus(@item.InventoryItemStatusId)" />
                                                    <input type="button" class="btn btn-danger" value="Delete" onclick="deleteItemStatus(@item.InventoryItemStatusId)" />

                                                </td>
                                            </tr>
                                        }
                                        @{counter = 0;}
                                    </tbody>
                                </table>
                                <input type="hidden" id="hfCurrentPageIndex" name="CurrentPageIndex" value="@Model.CurrentPageIndex" />
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">

                            @*@if (Model.CurrentPageIndex == 1)
        {
            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to @(Model.itemsCount >= Model.Tablelength ? Model.Tablelength.ToString():Model.itemsCount) of @Model.itemsCount items</div>
        }
        else
        {
            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing @(((Model.PageCount-1)*Model.CurrentPageIndex)+1)  to @(@Model.itemsCount >= (((Model.PageCount - 1) * Model.CurrentPageIndex) + Model.Tablelength) ? (((Model.PageCount - 1) * Model.CurrentPageIndex) + Model.Tablelength) : @Model.itemsCount ) of @Model.itemsCount items</div>
        }*@
                            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite"> Total @Model.itemsCount items</div>


                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                <ul class="pagination">
                                    <li class='paginate_button page-item previous @(Model.CurrentPageIndex == 1 ? "disabled":"")' id="dataTable_previous">
                                        <a href="javascript:PagerClickforStatus('@(Model.CurrentPageIndex-1)');" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                    </li>
                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        @if (i != Model.CurrentPageIndex)
                                        {
                                            <li class="paginate_button page-item">
                                                <a href="javascript:PagerClickforStatus('@i');" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">@i</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="paginate_button page-item active">
                                                <span aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">@i</span>
                                            </li>
                                        }


                                    }
                                    <li class='paginate_button page-item next @(Model.PageCount == Model.CurrentPageIndex ? "disabled":"")' id="dataTable_next">
                                        <a href="javascript:PagerClickforStatus('@(Model.CurrentPageIndex+1)');" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function PagerClickforStatus(index) {

        document.getElementById("hfCurrentPageIndex").value = index;
        getspinner();
        $.ajax({
            type: "Post",
            url: "/InventoryStatus/Index",
            data: { "CurrentPageIndex": index },
            success: function (response) {
                $("#ChangingBody").empty();
                $('#ChangingBody').append(response);
            },
            failure: function (response) {
                throwException(response)
            },
            error: function (response) {
                throwException(response)
            }
        });

    }
    function getEditItemStatus(id) {

        $.ajax({
            type: "Get",
            url: "/InventoryStatus/Create",
            data: { "id": id },
            success: function (response) {
                if (response != 'null') {

                    $("#ChangingBody").empty();
                    $('#ChangingBody').append(response);

                } else {
                    swal("Cancelled", "Oops Something went wrong!", "error");
                }
            },
            failure: function (response) {
                throwException(response)
            },
            error: function (response) {
                throwException(response)
            }
        });
    }
    function createInvItemStatus() {

        $.ajax({
            type: "Get",
            url: "/InventoryStatus/Create",
            /*data: { "id": id },*/
            success: function (response) {


                    $("#ChangingBody").empty();
                    $('#ChangingBody').append(response);


            },
            failure: function (response) {
                throwException(response)
            },
            error: function (response) {
                throwException(response)
            }
        });
    }
    function deleteItemStatus(id)
    {
        swal({
            title: "Are you sure?",
            text: "Are you sure to delete this status!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
            showLoaderOnConfirm: true
        }, function () {
            setTimeout(function () {
                $.ajax({
                    type: "Post",
                    url: "/InventoryStatus/Delete",
                    data: { "id": id },
                    success: function (response) {                        
                        swal("Finished!");
                        if (response == 1) {
                            swal("Deleted!", "Your status has been deleted.", "success");
                            getStatusManagementPage();
                        } else if (response == 0) {
                            swal("Cancelled", "One or more using this status!", "error");
                        }
                        else if (response == -1) {
                            swal("Cancelled", "Oops Something went wrong!", "error");
                        }
                    },
                    failure: function (response) {
                        throwException(response)
                    },
                    error: function (response) {
                        throwException(response)
                    }
                })               
            }, 2000);
        });    
    }
    document.getElementById("btnGoToTopPage").click();


</script>