@using RepositoryPatternWithUOW.Core.Models;
@model CGARMAN.ViewModel.InventoryViewModels.InventoryTablelPagingViewModel<Model>

@{ int counter = 0;}

<div>
    <div class="row">
        <div class="col-sm-12">
            <form asp-action="Index" asp-controller="nventoryModel" method="post" id="frminvModel">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th></th>
                        </tr>
                    </thead>
                    @*<tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Supplier</th>
                                <th>Status</th>
                                <th>Start date</th>
                                <th>Brand</th>
                                <th></th>
                            </tr>
                        </tfoot>*@
                    <tbody>
                        @foreach (var item in Model.items)
                        {
                            counter++;
                            <tr>
                                <td>
                                    @counter
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Brand.Name)
                                </td>
                                <td>
                                    @*<input type="button" class="btn btn-primary" value="Edit" onclick="getspinner(); getEditModel(@item.ModelId)" />
                                    <input type="button" class="btn btn-danger" value="Delete" onclick="deleteinvModel(@item.ModelId)" />*@
                                    <a style="cursor:pointer" class="p-1" onclick="getspinner(); getEditModel(@item.ModelId)">
                                        <i class="fa fa-edit text-warning fa-lg" aria-hidden="true" title="Edit"></i>
                                    </a>

                                    <a style="cursor:pointer" class="p-1" oonclick="deleteinvModel(@item.ModelId)">
                                        <i class="fa fa-trash-o text-danger fa-lg" aria-hidden="true" title="Delete"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                        @{counter = 0;}
                    </tbody>
                </table>
                <input type="hidden" id="hfCurrentPageIndex" name="CurrentPageIndex" value="@Model.CurrentPageIndex" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-5">

            @*@if (Model.CurrentPageIndex == 1)
                {
                    <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to @(Model.itemsCount >= Model.Tablelength ? Model.Tablelength.ToString():Model.itemsCount) of @Model.itemsCount items</div>
                }
                else
                {
                    <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing @(((Model.PageCount-1)*Model.CurrentPageIndex)+1)  to @(@Model.itemsCount >= (((Model.PageCount - 1) * Model.CurrentPageIndex) + Model.Tablelength) ? (((Model.PageCount - 1) * Model.CurrentPageIndex) + Model.Tablelength) : @Model.itemsCount ) of @Model.itemsCount items</div>
                }*@
            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite"> Total @Model.itemsCount items</div>

        </div>
        <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                <ul class="pagination">
                    <li class='paginate_button page-item previous @(Model.CurrentPageIndex == 1 ? "disabled":"")' id="dataTable_previous">
                        <a href="javascript:PagerClickforModel('@(Model.CurrentPageIndex-1)');" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        @if (i != Model.CurrentPageIndex)
                        {
                            <li class="paginate_button page-item">
                                <a href="javascript:PagerClickforModel('@i');" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="paginate_button page-item active">
                                <span aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">@i</span>
                            </li>
                        }


                    }
                    <li class='paginate_button page-item next @(Model.PageCount == Model.CurrentPageIndex ? "disabled":"")' id="dataTable_next">
                        <a href="javascript:PagerClickforModel('@(Model.CurrentPageIndex+1)');" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
