@using RepositoryPatternWithUOW.Core.Models;
@model CGARMAN.ViewModel.PagingViewModel<VehicleDepartment>
@{
    ViewData["Title"] = "Vehicle Department";
    Layout = "_Authenticated";
    int counter = 0;
}
<div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-left:10px">
        <h1 class="h3 mb-0 text-gray-800">
            Vehicle <i style="font-size:large" class="fa fa-arrow-right" aria-hidden="true"></i> Department
        </h1>
        <a style="margin-right:10px" asp-action="Create" asp-controller="VehicleDepartment" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Create Department</a>
    </div>

    <div class="card shadow mb-4" style="margin:0px 15px">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Departments
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-2">
                            <div class="dataTables_length" id="dataTable_length">
                                <form asp-action="Changelength" asp-controller="VehicleDepartment" id="formVehicleDepartmentChangelength">
                                    <label>
                                        Show
                                        <select name="length" onchange="document.getElementById('formVehicleDepartmentChangelength').submit()" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                            @if (Model.Tablelength == 10)
                                            {
                                                <option value="10" selected>10</option>
                                            }
                                            else
                                            {
                                                <option value="10">10</option>
                                            }
                                            @if (Model.Tablelength == 25)
                                            {
                                                <option value="25" selected>25</option>
                                            }
                                            else
                                            {
                                                <option value="25">25</option>
                                            }
                                            @if (Model.Tablelength == 50)
                                            {
                                                <option value="50" selected>50</option>
                                            }
                                            else
                                            {
                                                <option value="50">50</option>
                                            }
                                            @if (Model.Tablelength == 100)
                                            {
                                                <option value="100" selected>100</option>
                                            }
                                            else
                                            {
                                                <option value="100">100</option>
                                            }
                                        </select>
                                        entries
                                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">

                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="dataTable_filter" class="dataTables_filter">
                                <label>
                                    Name <input type="text" class="form-control form-control-sm" id="txtNameVehicleDepartment" aria-controls="dataTable">

                                    <input type="hidden" id="hfVehicleDepartment" @*name="hfBrand"*@ />
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-12">

                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyVehicleDepartment">
                                    @foreach (var item in Model.items)
                                    {
                                        counter++;
                                        <tr>
                                            <td>
                                                @counter
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>

                                            <td>
                                                <a asp-action="Delete" asp-controller="VehicleDepartment" asp-route-id="@item.VehicleDepartmentId" class="btn btn-danger">Delete</a>
                                                <a asp-action="Edit" asp-controller="VehicleDepartment" asp-route-id="@item.VehicleDepartmentId" class="btn btn-warning">Edit</a>
                                                <a asp-action="View" asp-controller="VehicleDepartment" asp-route-id="@item.VehicleDepartmentId" class="btn btn-primary">View</a>
                                            </td>
                                        </tr>
                                    }
                                    @{counter = 0;}
                                </tbody>
                            </table>
                            <input type="hidden" id="hfCurrentPageIndex" name="CurrentPageIndex" value="@Model.CurrentPageIndex" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">

                            @*@if (Model.CurrentPageIndex == 1)
                                {
                                    <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to @(Model.itemsCount >= Model.Tablelength ? Model.Tablelength.ToString():Model.itemsCount) of @Model.itemsCount items</div>
                                }
                                else
                                {
                                    <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing @(((Model.PageCount-1)*Model.CurrentPageIndex)+1)  to @(@Model.itemsCount >= (((Model.PageCount - 1) * Model.CurrentPageIndex) + Model.Tablelength) ? (((Model.PageCount - 1) * Model.CurrentPageIndex) + Model.Tablelength) : @Model.itemsCount ) of @Model.itemsCount items</div>
                                }*@
                            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite"> Total @Model.itemsCount items</div>

                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                <ul class="pagination">
                                    <li class='paginate_button page-item previous @(Model.CurrentPageIndex == 1 ? "disabled":"")' id="dataTable_previous">
                                        <a asp-action="Index" asp-controller="VehicleDepartment" asp-route-CurrentPageIndex="@(Model.CurrentPageIndex-1)" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                    </li>
                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        @if (i != Model.CurrentPageIndex)
                                        {
                                            <li class="paginate_button page-item">
                                                <a asp-action="Index" asp-controller="VehicleDepartment" asp-route-CurrentPageIndex="@i" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">@i</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="paginate_button page-item active">
                                                <span aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">@i</span>
                                            </li>
                                        }


                                    }
                                    <li class='paginate_button page-item next @(Model.PageCount == Model.CurrentPageIndex ? "disabled":"")' id="dataTable_next">
                                        <a asp-action="Index" asp-controller="VehicleDepartment" asp-route-CurrentPageIndex="@(Model.CurrentPageIndex+1)" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        document.getElementById("btncontainerVehicles").click();
        ToggleColorInDashboard("linkAllVehicleDepartments");
        document.getElementById("btnGoToTopPage").click();
        $(function () {
            $("#txtNameVehicleDepartment").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/VehicleDepartment/AutoComplete',
                        data: { "prefix": request.term },
                        type: "POST",
                        success: function (data) {
                            if (data == 0) {
                                /* swal("Cancelled", "Oops Something went wrong!", "error");*/
                            } else {
                                response($.map(data, function (item) {
                                    return item;
                                }));
                            }
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfVehicleDepartment").val(i.item.val);
                    $("#hfVehicleDepartment").click(searchVehicleDepartmenttech());
                },
                minLength: 1
            });
        });

        function searchVehicleDepartmenttech() {
            $("#tbodyVehicleDepartment").empty();
            $('#tbodyVehicleDepartment').append('<div style=" margin: 20% 50%;" class="spinner-grow text-primary"></div>');
            //$.ajax({
            //    type: "Post",
            //    url: "/VehicleDepartment/Search",
            //    data: { "label": txtNameVehicleDepartment.value },
            //    success: function (response) {
            //        $("#tbodyVehicleDepartment").empty();
            //        $("#tbodyVehicleDepartment").append(response);
            //    },
            //    failure: function (response) {
            //        throwException(response)
            //    },
            //    error: function (response) {
            //        throwException(response)
            //    }
            //})
            window.location.href = "/VehicleDepartment/Index?CurrentPageIndex=1&&label=" + $("#txtNameVehicleDepartment").val();

        }
        $("#txtNameVehicleDepartment").keyup(function (event) {
            if (event.keyCode === 13) {
                searchVehicleDepartmenttech();
            }
        });
    </script>
}
