@model List<RepositoryPatternWithUOW.Core.Models.VehicleCurrentTire>

@if (Model is not null && Model.Count > 0)
{
    <div style="max-height: 550px; overflow: hidden; overflow-y: scroll">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th scope="col">Tire Location</th>
                    <th scope="col">Serial</th>
                    <th scope="col">Status</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Pattern</th>
                    <th scope="col">Standard Tread Depth</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                <tr>
                    <td>@item.TirePosition</td>
                    <td>@item.SerialNumber</td>
                    <td>@item.InventoryItemStatus</td>
                    <td>@item.Brand</td>
                    <td>@item.Pattern</td>
                    <td>@item.StandardTreadDepth</td>
                    <td>
                        <button class="btn btn-danger" onclick="deleteTire(@item.InventoryItemId,@item.VehicleId,@item.TirePosition)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>

                }



            </tbody>
        </table>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <h3>Tires have not been added yet!</h3>
        </div>
    </div>
}
